weights/
wandb/
out/
ckpt/
data/
demo_imgs/
exp_prw/
sd_*/
vis
logs
visualization/
checkpoints/

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
.eggs/
dist/
build/
*.whl

venv/
.venv/
env/
.env.local
.env.*.local

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.pth
*.pt
*.ckpt